@model CareMiAPIAuth.Models.Atendimento

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Atendimento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="cdAtendimento" />
            <div class="form-group">
                <label asp-for="dsDescricao" class="control-label"></label>
                <input asp-for="dsDescricao" class="form-control" />
                <span asp-validation-for="dsDescricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="qtDias" class="control-label"></label>
                <input asp-for="qtDias" class="form-control" />
                <span asp-validation-for="qtDias" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dsHabito" class="control-label"></label>
                <input asp-for="dsHabito" class="form-control" />
                <span asp-validation-for="dsHabito" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dsTempoSono" class="control-label"></label>
                <input asp-for="dsTempoSono" class="form-control" />
                <span asp-validation-for="dsTempoSono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dsHereditario" class="control-label"></label>
                <input asp-for="dsHereditario" class="form-control" />
                <span asp-validation-for="dsHereditario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dtEnvio" class="control-label"></label>
                <input asp-for="dtEnvio" class="form-control" />
                <span asp-validation-for="dtEnvio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fgAtivo" class="control-label"></label>
                <input asp-for="fgAtivo" class="form-control" />
                <span asp-validation-for="fgAtivo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
